# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Uploaded files
uploads/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# FAISS files
*.bin
*.pkl

# Logs
*.log